---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "pl-labkrk-2", "label": "Krakow, PL", "country": "pl",
      "capabilities": ["Linodes", "Block Storage Encryption", "Disk Encryption", "Backups",
      "NodeBalancers", "Block Storage", "Object Storage", "GPU Linodes", "Kubernetes",
      "Cloud Firewall", "Vlans", "VPCs", "VPC Dual Stack", "VPC IPv6 Stack", "Block
      Storage Migrations", "Managed Databases", "Metadata", "Premium Plans", "Placement
      Group", "StackScripts", "NETINT Quadra T1U", "Maintenance Policy", "Linode Interfaces",
      "ACLP Logs Datacenter LKE-E"], "monitors": {"alerts": ["Linodes", "Managed Databases",
      "NodeBalancers", "logs"], "metrics": ["Linodes", "Managed Databases", "NodeBalancers",
      "logs"]}, "status": "ok", "resolvers": {"ipv4": "172.24.224.240,172.24.224.229,172.24.224.236,172.24.224.238,172.24.224.235,172.24.224.241,172.24.224.230,172.24.224.239,172.24.224.233,172.24.224.234",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 5}, "site_type": "core"}], "page": 1,
      "pages": 1, "results": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"pl-labkrk-2","type":"g6-nanode-1","label":"go-test-ins-s56i25fzcj55","root_pass":"5302.l8?K3`eqIS\u003eldK(zEcy~aJLGq[\u003c.KUP$:\u003e6rX\u003c!U7357yc|92?t1Qe3w8BS","image":"linode/debian12","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 101246022, "label": "go-test-ins-s56i25fzcj55", "group": "", "status":
      "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["172.24.237.136"], "ipv6": "1234::5678/128",
      "image": "linode/debian12", "region": "pl-labkrk-2", "site_type": "core", "specs":
      {"disk": 25600, "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000, "accelerated_devices":
      0}, "alerts": {"cpu": 90, "network_in": 10, "network_out": 10, "transfer_quota":
      80, "io": 10000, "system_alerts": [], "user_alerts": []}, "backups": {"enabled":
      false, "available": false, "schedule": {"day": null, "window": null}, "last_successful":
      null}, "hypervisor": "kvm", "watchdog_enabled": true, "tags": [], "host_uuid":
      "69fd29fea98850c841cf2d4f21dd53bed8b6752a", "has_user_data": false, "placement_group":
      null, "disk_encryption": "enabled", "lke_cluster_id": null, "capabilities":
      ["Block Storage Encryption", "SMTP Enabled", "Maintenance Policy"], "interface_generation":
      "legacy_config", "maintenance_policy": "linode/migrate", "locks": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "8"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"linode_create","created":{"+gte":"2018-01-02T03:04:05"},"entity.id":101246022,"entity.type":"linode"}'
    url: https://api.linode.com/v4beta/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 37123293, "created": "2018-01-02T03:04:05", "seen": false,
      "read": false, "percent_complete": 53, "time_remaining": null, "rate": null,
      "duration": 16.56847, "action": "linode_create", "username": "psnoch", "entity":
      {"label": "go-test-ins-s56i25fzcj55", "id": 101246022, "type": "linode", "url":
      "/v4/linode/instances/101246022"}, "status": "started", "secondary_entity":
      {"id": "linode/debian12", "type": "image", "label": "Debian 12", "url": "/v4/images/linode/debian12"},
      "message": "", "details": {}}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"label":"go-test-ins-s56i25fzcj55","alerts":{"cpu":50,"io":6000,"network_in":20,"network_out":20,"transfer_quota":50},"watchdog_enabled":true,"tags":[],"group":"","maintenance_policy":"linode/migrate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/v4beta/linode/instances/101246022
    method: PUT
  response:
    body: '{"id": 101246022, "label": "go-test-ins-s56i25fzcj55", "group": "", "status":
      "offlin[...]
- request:
    body: '{"region":"pl-labkrk-2","type":"g6-nanode-1","backups_enabled":false,"alerts":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/v4beta/linode/instances/101246022/clone
    method: POST
  response:
    body: '{"id": 101246026, "label": "linode101246026", "group": "", "status": "offline",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "type":
      "g6-nanode-1", "ipv4": ["172.24.244.208"], "ipv6": "1234::5678/128",
      "image": "linode/debian12", "region": "pl-labkr[...]
[...]
