---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "pl-labkrk-2", "label": "Krakow, PL", "country": "pl",
      "capabilities": ["Linodes", "Block Storage Encryption", "Disk Encryption", "Backups",
      "NodeBalancers", "Block Storage", "Object Storage", "GPU Linodes", "Kubernetes",
      "Cloud Firewall", "Vlans", "VPCs", "VPC Dual Stack", "VPC IPv6 Stack", "Block
      Storage Migrations", "Managed Databases", "Metadata", "Premium Plans", "Placement
      Group", "StackScripts", "NETINT Quadra T1U", "Maintenance Policy", "Linode Interfaces",
      "ACLP Logs Datacenter LKE-E"], "monitors": {"alerts": ["Linodes", "Managed Databases",
      "NodeBalancers", "logs"], "metrics": ["Linodes", "Managed Databases", "NodeBalancers",
      "logs"]}, "status": "ok", "resolvers": {"ipv4": "172.24.224.240,172.24.224.229,172.24.224.236,172.24.224.238,172.24.224.235,172.24.224.241,172.24.224.230,172.24.224.239,172.24.224.233,172.24.224.234",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 5}, "site_type": "core"}], "page": 1,
      "pages": 1, "results": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"pl-labkrk-2","type":"g6-nanode-1","label":"go-test-ins-a5o9t58qbw27","root_pass":"A0s\u0026''8\u0026U3+BQ2).,Ogb7o4Ot3\u003cdL4\u003cc77u]n$BGkKUHR63b1`|1rNjpu@J8{P=x6","image":"linode/debian12","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 101245999, "label": "go-test-ins-a5o9t58qbw27", "group": "", "status":
      "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["172.24.244.208"], "ipv6": "1234::5678/128",
      "image": "linode/debian12", "region": "pl-labkrk-2", "site_type": "core", "specs":
      {"disk": 25600, "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000, "accelerated_devices":
      0}, "alerts": {"cpu": 90, "network_in": 10, "network_out": 10, "transfer_quota":
      80, "io": 10000, "system_alerts": [], "user_alerts": []}, "backups": {"enabled":
      false, "available": false, "schedule": {"day": null, "window": null}, "last_successful":
      null}, "hypervisor": "kvm", "watchdog_enabled": true, "tags": [], "host_uuid":
      "e7dbe65d12caf5c1a1de6dc8a495aeb8cc383445", "has_user_data": false, "placement_group":
      null, "disk_encryption": "enabled", "lke_cluster_id": null, "capabilities":
      ["Block Storage Encryption", "SMTP Enabled", "Maintenance Policy"], "interface_generation":
      "legacy_config", "maintenance_policy": "linode/migrate", "locks": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "8"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-ins-a5o9t58qbw27","alerts":{"cpu":50,"io":6000,"network_in":20,"network_out":20,"transfer_quota":50,"system_alerts":[123456],"user_alerts":[1,2]},"watchdog_enabled":true,"tags":[],"group":"","maintenance_policy":"linode/migrate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/101245999
    method: PUT
  response:
    body: '{"errors": [{"reason": "Cannot set both legacy and ACLP alerts simultaneously.",
      "field": "alerts"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 400 BAD REQUEST
    code: 400
    duration: ""
[...]
